{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Add Tutorial{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="lang">Language:</label>
    <select name="lang" id="lang">
      {% if language == 'java' %}
        <option value="java" selected>Java</option>
        <option value="python">Python</option>
        <option value="c++">C++</option>
        <option value="text">Text</option>
      {% else %}
        <option value="" disabled selected hidden>File type...</option>
        <option value="java">Java</option>
        <option value="python">Python</option>
        <option value="c++">C++</option>
        <option value="text">Text</option>
      {% endif %}
    </select>
    <input type="submit" name="select" value="Select">
    <br>
    {% if language == 'java' %}
      <label for="errorID">Java Error ID:</label>
      {% if error >= 0: %}
        <input list="errors" id="errorID" name="errorID" value={{error}} required/>
        <datalist id="errors">
            {% for row in errors: %}
              <option value={{row['id']}}>{{row['error']}}</option>
            {% endfor %}
        </datalist>
      {% else: %}
        <input list="errors" id="errorID" name="errorID" required/>
        <datalist id="errors">
          <option value="" disabled selected hidden>Select error</option>
          {% for row in errors: %}
            <option value={{row['id']}}>{{row['error']}}</option>
          {% endfor %}
        </datalist>
      {% endif %}
      <input type="submit" name="next" value="Next">
      {% if error >= 0: %}
        <br>
        <label for="tutorial"> Error #{{error}}: {{ message }} </label>
        <p>Tutorial key: $x$ Parameter, $cxt$ Context, $start$ Start, $end$ End, $ln$ Line</p>
        {{ form.csrf_token }}
        {{ form.tutorial }}
        {{ form.submit}}
      {% endif %}
    {% endif %}
  </form>
{% endblock %}
{% block scripts %}
  {{ ckeditor.load() }}
  {{ ckeditor.config(name='tutorial') }}
{% endblock %}