<!doctype html>
<title>{% block title %}{% endblock %} - Tutorial Generator</title>
<link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
<nav>
  <h2>Tutorial Generator</h2>
  <hr>
  <ul>
    <li><a href="{{ url_for('main.file') }}">Generate</a></li>
    <li><a href="{{ url_for('main.add') }}">Add</a></li>
    <li><a href="{{ url_for('main.id') }}">View</a></li>
  </ul>
</nav>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header> 
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>

