{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Saved Tutorials{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="error">Error ID:</label>
    <input list="errors" id="error" name="error"/>
    <datalist id="errors">
      <option value="" disabled selected hidden>Select error</option>
      {% for row in errors: %}
        <option value={{row['id']}}>{{row['error']}}</option>
      {% endfor %}
    </datalist>
    <input type="submit" value="View">
  </form>
{% endblock %}